In [1]:
import pandas as pd
import json
import csv

In [2]:
customers=pd.read_csv("customers.csv")
accounts=pd.read_csv("accounts.csv")
branches=pd.read_csv("branches.csv")
transactions=pd.read_csv("transactions.csv")
credit_cards=pd.read_json("credit_cards.json")
support_tickets=pd.read_csv("support_tickets.csv")
loans=pd.read_json("loans.json")

In [ ]:
import mysql.connector

In [ ]:
conn=mysql.connector.connect(
    host='localhost',
    user='root',
    password='M@h!UV127'
)

In [ ]:
cursor=conn.cursor()

In [ ]:
cursor.execute("CREATE DATABASE IF NOT EXISTS customer_data")
print("Database created or alread exists")

In [ ]:
cursor.execute("USE customer_data;")

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS accounts (
        customer_id VARCHAR(50) PRIMARY KEY,
        account_balance FLOAT,
        last_updated DATETIME
    );
""")

In [ ]:
for _, row in accounts.iterrows():
    cursor.execute("""
        INSERT INTO accounts (customer_id, account_balance, last_updated)
        VALUES (%s,%s,%s)
""", (row['customer_id'], row['account_balance'], row['last_updated']))
conn.commit()

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS branches (
        Branch_ID INT PRIMARY KEY,
        Branch_Name VARCHAR(100),
        City VARCHAR(50),
        Manager_Name VARCHAR(50),
        Total_Employees INT,
        Branch_Revenue FLOAT,
        Opening_Date DATE,
        Performance_Rating INT
    );
""")

In [ ]:
for _, row in branches.iterrows():
    cursor.execute("""
        INSERT INTO branches (Branch_ID, Branch_Name, City, Manager_Name, Total_Employees,Branch_Revenue, Opening_Date, Performance_Rating)
        VALUE(%s,%s,%s,%s,%s,%s,%s,%s)
""", (row['Branch_ID'], row['Branch_Name'], row['City'], row['Manager_Name'], row['Total_Employees'],row['Branch_Revenue'], row['Opening_Date'], row['Performance_Rating']))
conn.commit()

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS customers (
        customer_id VARCHAR(10) PRIMARY KEY,
        name VARCHAR(50),
        gender CHAR(1),
        age INT,
        city VARCHAR(50),
        account_type VARCHAR(50),
        join_date DATE
    );
""")

In [ ]:
for _, row in customers.iterrows():
    cursor.execute("""
        INSERT INTO customers (customer_id, name, gender, age, city, account_type, join_date)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
    """, (row['customer_id'], row['name'], row['gender'], row['age'], row['city'], row['account_type'], row['join_date']))

conn.commit()

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS transactions (
        txn_id VARCHAR(10) PRIMARY KEY,
        customer_id CHAR(5),
        txn_type VARCHAR(20),
        amount FLOAT,
        txn_time DATETIME,
        status VARCHAR(20)
    );
""")

In [ ]:
for _, row in transactions.iterrows():
    cursor.execute("""
        INSERT INTO transactions (txn_id, customer_id, txn_type, amount, txn_time, status)
        VALUES (%s, %s, %s, %s, %s, %s)
    """,(row['txn_id'], row['customer_id'], row['txn_type'], row['amount'], row['txn_time'], row['status']))

conn.commit()

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS credit_cards (
        Card_ID INT,
        Customer_ID INT,
        Account_ID INT,
        Branch VARCHAR(200),
        Card_Number DECIMAL(40,0),
        Card_Type VARCHAR(20),
        Card_Network VARCHAR(20),
        Credit_Limit INT,
        Current_Balance FLOAT,
        Issued_Date DATE,
        Expiry_Date DATE,
        Status VARCHAR(15)   
    );
""")
conn.commit()

In [ ]:
for _, row in credit_cards.iterrows():
    cursor.execute("""
        INSERT INTO credit_cards (Card_ID, Customer_ID, Account_ID, Branch, Card_Number, Card_Type, Card_Network, Credit_Limit, Current_Balance, Issued_Date, Expiry_Date, Status)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """,(row['Card_ID'], row['Customer_ID'], row['Account_ID'], row['Branch'], row['Card_Number'], row['Card_Type'], row['Card_Network'], row['Credit_Limit'], row['Current_Balance'], row['Issued_Date'], row['Expiry_Date'], row['Status']))

conn.commit()

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS loans (
        Loan_ID INT PRIMARY KEY,
        Customer_ID INT,
        Account_ID INT,
        Branch VARCHAR(200),
        Loan_Type VARCHAR(20),
        Loan_Amount INT,
        Interest_Rate FLOAT,
        Loan_Term_Months INT,
        Start_Date DATE,
        End_Date DATE,
        Loan_Status VARCHAR(25)   
    );
""")
conn.commit()

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS support_tickets (
        Ticket_ID VARCHAR(10),
        Customer_ID VARCHAR(15),
        Account_ID VARCHAR(15),
        Loan_ID VARCHAR(10),
        Branch_Name VARCHAR(200),
        Issue_Category VARCHAR(50),
        Description VARCHAR(500),
        Date_Opened DATE,
        Date_Closed DATETIME,
        Priority VARCHAR(50),
        Status VARCHAR(50),
        Resolution_Remarks VARCHAR(500),
        Support_Agent VARCHAR(200),
        Channel VARCHAR(50),            
        Customer_Rating INT             
    );
""")
conn.commit()

In [ ]:
support_tickets.columns.value_counts().sum()

In [ ]:
for _, row in loans.iterrows():
    cursor.execute("""
        INSERT INTO loans (Loan_ID, Customer_ID, Account_ID, Branch, Loan_Type,
       Loan_Amount, Interest_Rate, Loan_Term_Months, Start_Date,
       End_Date, Loan_Status)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """,(row['Loan_ID'], row['Customer_ID'], row['Account_ID'], row['Branch'], row['Loan_Type'], row['Loan_Amount'], row['Interest_Rate'], row['Loan_Term_Months'], row['Start_Date'], row['End_Date'], row['Loan_Status'], row['Resolution_Remarks'], row['Support_Agent'], row['Channel'], row['Customer_Rating']))

conn.commit()

In [ ]:
for _, row in support_tickets.iterrows():
    cursor.execute("""
        INSERT INTO support_tickets (Ticket_ID, Customer_ID, Account_ID, Loan_ID, Branch_Name, Issue_Category, Description, Date_Opened, Date_Closed, Priority, Status, Resolution_Remarks, Support_Agent, Channel, Customer_Rating)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """,(row['Ticket_ID'], row['Customer_ID'], row['Account_ID'], row['Loan_ID'], row['Branch_Name'], row['Issue_Category'], row['Description'], row['Date_Opened'], row['Date_Closed'], row['Priority'], row['Status'], row['Resolution_Remarks'], row['Support_Agent'], row['Channel'], row['Customer_Rating']))

conn.commit()

In [ ]:
accounts.tail()

In [ ]:
cursor.execute("SELECT * from accounts")
cursor.fetchall()

In [ ]:
conn=mysql.connector.connect(
    host='localhost',
    user='root',
    password='M@h!UV127'
)
cursor=conn.cursor()
print("Connection_successful")

In [ ]:
cursor.execute("SELECT txn_type, SUM(amount) FROM transactions GROUP BY txn_type")
pd.DataFrame(cursor.fetchall())

In [ ]:
# Q1: How many customers exist per city, and what is their average account balance?
cursor.execute("select c.city, count(c.customer_id), avg(a.account_balance) from customers as c left join accounts as a on a.customer_id=c.customer_id group by city;")
pd.DataFrame(cursor.fetchall())

In [ ]:
customers.tail()